*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(235, 235, 235);
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.contenedor2{
    background-color: rgb(213, 213, 213); 
    width: 500px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.contenedor_para_centrar{
    position: relative;
}

.nombreUsuario{
    font-size: 110%;
    font-weight: bold;
}


.cajade_texto, .input_contraseña {
    border-radius: 5px;
}

.contraseña{
    font-size: 110%;
    font-weight: bold;
}


.btn_iniciarSesion{
   float: right;
   border-radius: 5px;
}

.btn_acceder{
    float: left;
    border-radius: 5px;
}

.imagen_logo{
    width: 100%;
}


/*Seccion responsive tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contenedor_para_centrar{
        width: 100%;
    }
}

/*tablets pequeñas*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .contenedor2{ 
        width: 420px;
    }
    .contenedor_para_centrar{
        width: 100%;
    }
}

/*Seccion responsive celular*/
@media only screen and (min-width: 0px) and (max-width: 575px) {
    .contenedor2{ 
        width: 90%;
    }
    .contenedor_para_centrar{
        width: 100%;
    }
}